//
// Layout
//
// Larger layout items that contain base elements are styled here, such as <header>,
// <main>, <footer>, and BEM classes.
// example.
//

#logo{
    width: 45%;
    max-height: auto;
    margin-top: 0px;
    display: flex;
    float: left;
    padding: 10px;
}

#logo img {
    width: 100%;
    height: auto;
    display: flex;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
  position: sticky;
  top: 20px;
  width: 100%;
}

#navbar a {
  float: right;
  display: flex;
  color: black;
  text-align: center;
  margin-top: 30px;
  padding: 14px 16px;
  text-decoration: none;
  font-family: $header--font;
  font-size: 2rem;
}

#container {
  width: 100%;
  height: 100vh;
  background: $primary--color;

  @media (max-width: $breakpoint--tablet) {
    width: $width--tablet;
  }

  @media (max-width: $breakpoint--phone) {
    width: $width--phone;
  }
}

#heroshot{
    background: url('../img/background.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.row{
    width: 100%;
    background: $primary--color;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: $breakpoint--phone) {
  .column {
    width: $width--phone;
  }
}


.column p{
    width: 100%;
}

.column img{
    width: 100%;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    padding: 20px;
}

#contactcontainer {
  border-radius: 5px;
  height: 100%;
  background-color: $primary--color;
  padding: 20px;
  font-family: $header--font;
}

.spacer{
    margin-top: 200px;
    height: 10%;
}

.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    background-color: $primary--color;
    
    &:hover &__image {
        filter: grayscale(1);
    }
    
    &__column {
        display: flex;
        flex-direction: column;
        width: 33.33%;
    }
    
    &__link {
        margin: 2px;
        overflow: hidden;
        
        &:hover {
            .gallery__image {
                filter: grayscale(0);
            }
        }
    }
    
    &__thumb {
        position: relative;
    }
    
    &__image {
        display: block;
        width: 100%;
        transition: .3s;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}

.mywork p, h1{
    text-align: center;
    padding: 15px;
    height: 100%;
    background-color: $primary--color;
    overflow: auto;
}

.mywork a{
    color: black;
}

.theatrecontent {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: $primary--color;
}
